/* Slideshow container */
.slideshow-container {
  display: block;
    background-color: #111111;
    position: relative;
    margin: auto;
    min-height: 98vh;
  }
  
  /* Hide the images by default */
  .mySlides {
    margin-left: 15vw;
    grid-template-columns: 6fr 6fr;
    display: none;
    width: inherit;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: 500;
    font-size: 60px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 10vw;
    border-radius: 3px 0 0 3px;
  }
  .prev{
    left: 10vw;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.986);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #000000;
    border: 2px solid #F8C621;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

#firstProduct{
  background: url(../images/grayCircle2.png) left bottom no-repeat;
  backdrop-filter: opacity(0.7);

}
.model-image{
  width: 65vh;
}
.mySlides2{
  margin-top: 250px;
  margin-right: 50px;
}
.mySlides1{
  margin-top: 30px;
}




/* Typogrpahy */

.h1-main{
  font-family: 'Orbitron';
  font-size: 50px;
  color: white;
  font-weight: 600;
}
.h4-secondary{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
}
.price-container{
  display: flex;
  margin: 20px 0;
}
.price{
  font-size: 30px;
  color: #F8C621;
}
.price2{
  margin-left: 20px;
  font-size: 30px;
  color: #d4d4d4;
  text-decoration: line-through;
}
.colortxt{
  display: block;
  font-size: 18px;
  color: #d4d4d4;
}
.colorsRound{
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  max-width: 110px;
}
.colorPallet1{
  width: 30px;
  height: 30px;
  background: #000000;
  border-radius: 50%;
}
.colorPallet2{
  width: 30px;
  height: 30px;
  background: #dbdbdb;
  border-radius: 50%;
}
.colorPallet3{
  width: 30px;
  height: 30px;
  background: #3d1d03;
  border-radius: 50%;
}
.product-buynow{
  color: white;
  font-size: 17px;
  border: 3px solid white;
  padding: 10px 12px;
  width: fit-content;
}

/* Ads Section */
#adContainer{
  display: grid;
  grid-template-columns: 7fr 4fr;
}
.leftad{
  position: relative;
  display: flex;
  background: #000;
  padding: 20px 50px 20px 20px;
}
.leftad > div:first-child{
  margin-top: 20px;
  margin-left: 10vw;
}
.leftad > div:nth-child(2){
  text-align: right;
}
.rightad{
  display: block;
  background: #d1a103;
  padding: 30px 20px 20px 60px !important;
}
.discountTxt{
  margin-top: 20px;
  color: #ffffff88;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
.viewProducts{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  padding-bottom: 10px;
  color: white;
  margin-top: 20px;
  border-bottom: 5px solid white;
  width: fit-content;
}
.trendingImage{
  position: absolute;
  width: 20%;
  right: 0;
  bottom: -415px;
}

/* Products section */
#products{
  background: #171717;
  padding: 3rem 10vw;
  text-align: center;
}
.productCarousel{
  margin: 2em 0;
}